<a href="https://colab.research.google.com/github/Lincoln-Andrade-Silva/Projeto-Analise-Exploratoria-UP/blob/main/Data%20set/limpeza_de_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## **Limpeza de Dados - Casos Covid 2019**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UP/1Bimestre/2022-09-22_Casos_Covid_19_-_Base_de_Dados.csv',
                    sep=';', encoding='iso-8859-1')

# **Extração e Limpeza dos dados**

In [ ]:
#mostrar cabeçalho
df.head()

,DATA INCLUSÃO/ NOTIFICAÇÃO,CLASSIFICAÇÃO FINAL,IDADE (anos),SEXO,BAIRRO,DISTRITO RESIDÊNCIA,INTERNADO (SIM/NÃO),DATA ÓBITO,DATA COLETA EXAME,ENCERRAMENTO
0,11/03/2020,CONFIRMADO,54,M,CRISTO REI,DSMZ,NÃO,NaN,09/03/2020,RECUPERADO
1,12/03/2020,CONFIRMADO,15,M,XAXIM,DSBQ,NÃO,NaN,08/03/2020,RECUPERADO
2,12/03/2020,CONFIRMADO,46,M,XAXIM,DSBQ,NÃO,NaN,09/03/2020,RECUPERADO
3,12/03/2020,CONFIRMADO,25,F,CRISTO REI,DSMZ,NÃO,NaN,09/03/2020,RECUPERADO
4,12/03/2020,CONFIRMADO,58,M,MERCÊS,DSMZ,NÃO,NaN,09/03/2020,RECUPERADO

In [ ]:
print("O total de casos foi de " + str(df.shape[0]))

O total de casos foi de 520372

# Visualizar dados nulos no data frame

In [ ]:
df.isnull().sum()

DATA INCLUSÃO/ NOTIFICAÇÃO         0
CLASSIFICAÇÃO FINAL                0
IDADE (anos)                       0
SEXO                               0
BAIRRO                         10183
DISTRITO RESIDÊNCIA            10183
INTERNADO (SIM/NÃO)                0
DATA ÓBITO                    511866
DATA COLETA EXAME                  0
ENCERRAMENTO                       0
dtype: int64

# Tratar valores redundantes na coluna SEXO.

In [ ]:
# visualizar valores unicos

df['SEXO'].unique()

array(['M', 'F', 'm', 'f'], dtype=object)

In [ ]:
# substituir valores m e f por M e F

df['SEXO'] = df['SEXO'].replace({'m':'M', 'f':"F"})

df['SEXO'].unique()

array(['M', 'F'], dtype=object)

# Removendo valores nulos na coluna BAIRRO

In [ ]:
# removendo valores nulos

df.dropna(subset=['BAIRRO'], inplace=True)
df['BAIRRO'].unique()

array(['CRISTO REI', 'XAXIM', 'MERCÊS', 'ÁGUA VERDE', 'BACACHERI',
       'BATEL', 'BIGORRILHO', 'CABRAL', 'UBERABA', 'SANTA CÂNDIDA',
       'FANNY', 'SÃO BRAZ', 'BAIRRO ALTO', 'PORTÃO', 'BOQUEIRÃO',
       'CASCATINHA', 'CIDADE INDUSTRIAL DE CURITIBA', 'CAJURU', 'HAUER',
       'SÍTIO CERCADO', 'SANTA QUITÉRIA', 'ALTO DA GLÓRIA',
       'CAMPO COMPRIDO', 'TARUMÃ', 'ATUBA', 'CENTRO',
       'CAMPINA DO SIQUEIRA', 'AHÚ', 'BOA VISTA', 'PINHEIRINHO',
       'ALTO BOQUEIRÃO', 'VISTA ALEGRE', 'FAZENDINHA', 'SANTA FELICIDADE',
       'REBOUÇAS', 'VILA IZABEL', 'MOSSUNGUÊ', 'PAROLIN',
       'ALTO DA RUA XV', 'CAPÃO RASO', 'CENTRO CÍVICO', 'CAPÃO DA IMBUIA',
       'UMBARÁ', 'BUTIATUVINHA', 'SÃO MIGUEL', 'ABRANCHES',
       'JARDIM BOTÂNICO', 'SANTO INÁCIO', 'GUABIROTUBA', 'HUGO LANGE',
       'JARDIM DAS AMÉRICAS', 'BOM RETIRO', 'NOVO MUNDO', 'BARREIRINHA',
       'LAMENHA PEQUENA', 'GUAÍRA', 'PRADO VELHO', 'CACHOEIRA',
       'PILARZINHO', 'JUVEVÊ', 'TINGUI', 'LINDÓIA', 'CAMPO DE SANTANA',
       'ORLEANS', 'SÃO LOURENÇO', 'GANCHINHO', 'AUGUSTA', 'SÃO FRANCISCO',
       'TATUQUARA', 'JARDIM SOCIAL', 'SÃO JOÃO', 'SEMINÁRIO', 'CAXIMBA',
       'TABOÃO', 'RIVIERA'], dtype=object)

# Removendo valores nulos na coluna DISTRITO RESIDÊNCIA

In [ ]:
# removendo valores nulos

df.dropna(subset=['DISTRITO RESIDÊNCIA'], inplace=True)
df['DISTRITO RESIDÊNCIA'].unique()

array(['DSMZ', 'DSBQ', 'DSPR', 'DSBV', 'DSSF', 'DSCJ', 'DSPN', 'DSCIC',
       'DSBN', 'DSTQ'], dtype=object)

# Tratar valores redundantes na coluna INTERNADO (SIM/NÃO).

In [ ]:
# visualizar valores unicos

df['INTERNADO (SIM/NÃO)'].unique()

array(['NÃO', 'SIM', 'sIM'], dtype=object)

In [ ]:
# substituir valores m e f por M e F

df['INTERNADO (SIM/NÃO)'] = df['INTERNADO (SIM/NÃO)'].replace({'sIM':'SIM'})

df['INTERNADO (SIM/NÃO)'].unique()

array(['NÃO', 'SIM'], dtype=object)

# Checando se a quantidade de óbitos confirmados é a mesma de datas de óbtios registrados

In [ ]:
# Checando se a quantidade de óbitos é a mesma de datas de óbtios

df_encerramentoobito = df[df['ENCERRAMENTO'] == 'ÓBITO CONF']

print("Quantidade de datas de óbito: " + str(df['DATA ÓBITO'].count()))
print("Quantidade de encerramentos resultados em óbito: " + str(df_encerramentoobito['ENCERRAMENTO'].count()))

Quantidade de datas de óbito: 8506
Quantidade de encerramentos resultados em óbito: 8506

# **Salvando csv tratado no drive**

In [98]:
df.to_csv('/content/drive/MyDrive/UP/1Bimestre/2022-09-22_Casos_Covid_19_-_Base_de_Dados_Tratado.csv', index=False, sep=';', encoding='iso-8859-1')